.top-expense-item {
  border: 2px solid rgb(197, 107, 59);
  background: #ece4cc;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
}

.expense-analysis-title {
    padding: 10px;
}

.budget-item {
  margin: 5px;
  border: 2px solid blue;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(230, 240, 253);
}